/* Google Fonts import*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

/*Asterisk wildcard selector to override default styles added by the browser*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*General Style*/
body {
  background-image: linear-gradient(rgb(61, 215, 38), rgb(109, 15, 109));
  min-height: 100vh;
  color: #000;
  font-family: 'Roboto', sans-serif;
}

body h1 {
  text-transform: capitalize;
  text-align: center;
  font-size: xx-large;
  padding-top: 3rem;
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
}

.fa-hat-wizard {
  color: #000;
}

/* Styling the name input */

.username {
  text-align: center;
  display: block;
  padding: 30px;
  border-radius: 10px;
}

.username h2 {
  font-size: 25px;
  letter-spacing: 2px;
  color: #000;
  font-weight: 600;
}

input {
  width: 80%;
  max-width: 300px;
  padding: 6px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
  background: #d5d4d4;
}

#difficulty-section {
  margin: 1em;
}

#difficulty-section label {
  font-size: x-large;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

#difficulty-section select {
  padding: 5px;
  border: 1px solid #bab6b6;
  border-radius: 5px;
  font-size: 16px;
  background: #d5d4d4
}

#enter-btn {
  background: #92ad94;
  color: #3a3838;
  font-weight: 500;
  width: 150px;
  border: 0;
  padding: 10px;
  margin: 10px auto 0;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  transition: background 0.3s, color 0.3s; /* Adding transition for smooth hover effect */
}

#enter-btn:hover {
  background: #759a76; /* Change background color on hover */
  color: #ffffff; /* Change text color on hover */
}

/* Styling the game area */

.game-area {
  background: rgba(30, 29, 27, 0.2);
  width: 90%;
  max-width: 700px;
  height: 90%;
  max-height: 800px;
  margin: 3rem auto 0;
  border-radius: 10px;
  padding: 30px;
}

.game-area h2 {
  font-size: 25px;
  letter-spacing: 2px;
  color: #000;
  font-weight: 600;
  border-bottom: 1px solid #333;
  padding-bottom: 30px;
}

.quiz {
  padding: 20px 0;
}

/* Timer countdown */

#progress-container {
  width: 60%;
  background-color: rgba(251, 249, 249, 0.5);
  border-radius: 5px;
  margin: 10px auto; /* Center the container itself horizontally */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#progress-bar {
  height: 30px;
  width: 0; /* Initial width of the progress bar */
  background-color: #4caf50;
  border-radius: 5px;
}

.btn {
  background: #d5d4d4;
  color: #000;
  font-weight: 500;
  width: 100%;
  border: 1px solid #333;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s;
}

.btn:hover:not([disabled]) {
  background: #1c1547;
  color: #fff;
}

.btn:disabled {
  cursor: no-drop;
}

#next-btn {
  background: #06450c;
  color: #fff;
  font-weight: 500;
  width: 150px;
  border: 0;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 4px;
  cursor: pointer;
  display: block;
}

.correct {
  background: rgb(121, 217, 121);
}

.incorrect {
  background: rgb(247, 45, 45);
}

/*  Game end screen */
#replay-btn {
  background: #0d1068;
  color: #fff;
  font-weight: 500;
  text-align: center;
  width: 150px;
  border: 0;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 4px;
  cursor: pointer;
  display: none;
}

#exit-btn {
  background: #0c0703;
  color: #dc0909;
  font-weight: 500;
  text-align: center;
  width: 150px;
  border: 0;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 4px;
  cursor: pointer;
  display: none;
}

#exit-btn:hover {
  background: #dc0909; /* Change background color on hover */
  color: #0c0703; /* Change text color on hover */
}

#highscore-section {
  margin: 1rem auto; /* Center the highscore section vertically and horizontally */
  padding: 10px;
  background-color: rgb(37, 36, 34, 0.3);
  text-align: center;
  width: 75%;
}

#highscore {
    margin: 0 auto; /* Center the high score element within its container */
    max-width: 200px;
}