/* Google Fonts import*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

/*Asterisk wildcard selector to override default styles added by the browser*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*General Style*/
body {
  background-image: linear-gradient(rgb(61, 215, 38), rgb(109, 15, 109));
  min-height: 100vh;
  color: #000;
  font-family: 'Roboto', sans-serif;
}

body h1 {
  text-transform: capitalize;
  text-align: center;
  font-size: xx-large;
  padding-top: 3rem;
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
}

.fa-hat-wizard {
  color: #000;
}

/* Styling the name input */

.username {
  text-align: center;
  display: block;
  padding: 30px;
  border-radius: 10px;
}

.username h2 {
  font-size: 25px;
  letter-spacing: 2px;
  color: #000;
  font-weight: 600;
}

input {
  width: 80%;
  max-width: 300px;
  padding: 6px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
  background: #d5d4d4;
}

#enter-btn {
  background: #92ad94;
  color: #3a3838;
  font-weight: 500;
  width: 150px;
  border: 0;
  padding: 10px;
  margin: 10px auto 0;
  border-radius: 4px;
  cursor: pointer;
  display: block;
}

/* Styling the game area */

.game-area {
  background: rgba(30, 29, 27, 0.2);
  width: 90%;
  max-width: 700px;
  height: 90%;
  max-height: 800px;
  margin: 3rem auto 0;
  border-radius: 10px;
  padding: 30px;
}

.game-area h2 {
  font-size: 25px;
  letter-spacing: 2px;
  color: #000;
  font-weight: 600;
  border-bottom: 1px solid #333;
  padding-bottom: 30px;
}

.quiz {
  padding: 20px 0;
}

.btn {
  background: #d5d4d4;
  color: #000;
  font-weight: 500;
  width: 100%;
  border: 1px solid #333;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s;
}

.btn:hover:not([disabled]) {
  background: #1c1547;
  color: #fff;
}

.btn:disabled {
  cursor: no-drop;
}

#next-btn {
  background: #06450c;
  color: #fff;
  font-weight: 500;
  width: 150px;
  border: 0;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 4px;
  cursor: pointer;
  display: block;
}

.correct {
  background: rgb(121, 217, 121);
}

.incorrect {
  background: rgb(247, 45, 45);
}